---

---

<section class="max-w-4xl mx-auto py-10 p-5">
    <div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-6 ">
        <div class=" flex flex-col gap-5">
            <h1 class="text-7xl font-bold text-[#dcdcdc]">Breath Natureal</h1>
            <p class="text-[#dcdcdc]">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <ul class="flex gap-6 items-center">
                <li class="hover:scale-105 duration-500	"><a class="text-sm text-[#dcdcdc] border border-[#dcdcdc]  rounded-md py-2 px-7 " href="">Explore</a></li>
                <li class="flex items-center"><img class="h-10 w-10" src="./play.svg" alt=""><a class="text-[#dcdcdc] text-sm" href="">Live Demo...</a></li>
            </ul>
        </div>
        <div class="flex justify-center">
            <div class="plant1 flex flex-col justify-end h-64 w-44 backdrop-blur-xl gap-1 p-5 border border-gray-500 border-opacity-30 mb-4">
                <img class="h-44 w-44 -mt-20 mx-auto" src="./plant1.svg" alt="">
                <div class="flex flex-col gap-1 my-3">
                    <h3 class="text-[0.7rem] text-[#adadad] mt-2">Trendy House Plant</h3>
                    <p class="text-[#adadad] text-lg">Calathea plant</p>
                    <button class="text-sm text-[#adadad] border border-[#adadad]  rounded-md py-1 px-7 w-32">Buy Now</button>
                </div>
    
            </div>
        </div>

        <div class="backdrop-blur-xl w-72 py-5 px-5 rounded-[30px] border border-gray-500 border-opacity-30 mt-5 md:mt-20">
            <div class="flex items-center gap-3">
                <img class="h-10 w-10" src="./profile.png" alt="">
                <div class="">
                    <h2 class="text-[#adadad] font-semibold">alena Patel</h2>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
            </div>
            <p class="text-[#adadad] text-[0.7rem] mt-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...
            </p>
        </div>
    </div>
</section>
<style>
    .plant1{
        border-radius: 50px;
    }
</style>