---

---

<section class="max-w-4xl mx-auto">
    <h1 class="text-white font-bold text-3xl text-center">Our Trendy plants</h1>
    <div class="flex backdrop-blur-xl border border-gray-500 border-opacity-30 p-5 m-6 rounded-[56px]">
        <img class="h-44 w-44" src="./plant2_1.png" alt="">
        <div class="flex flex-col m-5 gap-2">
            <h2 class="text-white text-xl font-semibold">For Small Decs Ai Plat</h2>
            <p class="text-white text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <h3 class="text-white font-bold">Rs. 599/-</h3>
            <div class="flex gap-3">
                <button class="text-sm text-[#adadad] border border-[#adadad]  rounded-md py-1 px-7">Buy Now</button>
                <button class="text-sm text-[#adadad] border border-[#adadad]  rounded-md py-1 px-2"><img src="./bag.svg" alt=""></button>
            </div>
        </div>
        
    </div>
    <div class="flex backdrop-blur-xl border border-gray-500 border-opacity-30 p-5 m-6 rounded-[56px]">
        <div class="flex flex-col m-5 gap-2">
            <h2 class="text-white text-xl font-semibold">For Small Decs Ai Plat</h2>
            <p class="text-white text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <h3 class="text-white font-bold">Rs. 599/-</h3>
            <div class="flex gap-3">
                <button class="text-sm text-[#adadad] border border-[#adadad]  rounded-md py-1 px-7">Buy Now</button>
                <button class="text-sm text-[#adadad] border border-[#adadad]  rounded-md py-1 px-2"><img src="./bag.svg" alt=""></button>
            </div>
        </div>
        <img class="h-44 w-44" src="./plant2_2.png" alt="">

    </div>

</section>